<div style="width: 20vw; border-right-style: solid; border-right-width: 0.1vw; margin-top: -1vh;">
  <img src="assets/logo.png" alt="Logo" style="width: 10vw; height: 20vh;" />
  <div style="background-color: rgb(165, 157, 157); width: 21vw; height: 0.1vh; margin-left: -1vw;"></div>
  <h4 style="text-align: right; margin-right: 1.5vw; font-family: 'Calibri';">תפריט ראשי</h4>
  <div style="text-align: right; align-items: start; font-family: 'Calibri'; margin-right: 1vw; ">
    <button class="btnside" (click)="toggleClass">קטלוג הספרים</button>
    <br/>
    <button class="btnside" (click)="toggleClass">ההשאלות שלי</button>
    <br/>
    <button class="btnside" style="margin-bottom: 15vh;" (click)="toggleClass">ניהול</button>
    <br/>
    <br/>
  </div>
  <div style="background-color: rgb(165, 157, 157); width: 21vw; height: 0.1vh; margin-left: -1vw;"></div>
</div>